<div class="video-container" role="application" aria-labelledby="videoTitle">

<iframe
  id="video1"
  width="560"
  height="315"
  src="https://www.youtube.com/embed/68h6bq1aYZo?enablejsapi=1"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
></iframe>

<div class="controls">
    <button (click)="playVideo()" aria-label="Play video">
        Play
    </button>
    
    <button (click)="pauseVideo()" aria-label="Pause video">
        Pause
    </button>
    </div>
</div>