.video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}
  
.controls {
margin-top: 10px;
display: flex;
gap: 10px;
justify-content: center;
}

button {
background-color: #000;
color: #fff;
border: 2px solid #fff;
border-radius: 10px;
padding: 10px 20px;
cursor: pointer;
font-size: 16px;
}

button:hover,
button:focus{
background-color: #ff0;
color: #000;
outline: solid #000
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
border: 0;
}