<div class="toolbar" role="banner">
  <div class="clickable-area" role="button" (click)="navigateToHome()" (keydown)="onKeyDown($event)" tabindex="0">
    <mat-icon>accessibility_new</mat-icon>
    <div class="spacer"></div>
    <span>Fortgeschrittene-Mensch-Computer-Interaktion</span>
  </div>
  <app-theme-switcher></app-theme-switcher>
  <div class="tts-container">
    <span class="tts-label" aria-live="polite">Steuerelemente zum Vorlesen der Seite:</span>
    <app-text-to-speech></app-text-to-speech>
  </div>
</div>
