.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Arial', sans-serif;
  padding: 0 1.5rem;
  justify-content: space-between;
  gap: 30px;
}


.clickable-area, .easy-language, .tts-container, .theme-switcher {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  font-family: inherit;
}



.clickable-area:hover, .easy-language:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.clickable-area:focus, .easy-language:focus {
  outline: 3px solid black;
  background-color: var(--highlight-color);
  color: var(--text-color);
}


mat-icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.middle-section {
  display: flex;
  align-items: center;
  gap: 60px;
}

.tts-label {
  font-size: inherit;
  color: white;
}


