ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 15px 0;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}
.selected-router {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border-radius: 0;
}
