/* You can add global styles to this file, and also import other style files */



/* Default theme */
:root {
  --primary-color: #0d47a1;
  --secondary-color: #616161;
  --highlight-color: yellow;
  --background-color: white;
  --text-color: black;
  --font-size: 18px; //18px standart
  --line-height: 1.6; //1.6 standart
  --letter-spacing: 0; //0 standart
  --word-spacing: 0; //0 standart
}

.content {
  letter-spacing: var(--letter-spacing);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  word-spacing: var(--word-spacing);
  overflow-x: hidden;
}

body.large-text {
  font-size: 200%;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Protanopia (red-blind) theme */
.protanopia {
  --primary-color: #0d47a1; /* Blue */
  --secondary-color: #616161; 
  --highlight-color: rgb(214, 214, 3);
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Deuteranopia (green-blind) theme */
.deuteranopia {
  --primary-color: #0d47a1; /* Blue */
  --secondary-color: #ff4500; /* Red-Orange */
  --highlight-color: #ff8c00;
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Tritanopia (blue-blind) theme */
.tritanopia {
  --primary-color: #ff0000; /* Red */
  --secondary-color: #008000; /* Green */
  --highlight-color: #ff8c00;
  --background-color: #ffffff;
  --text-color: #000000;
}