<app-navbar></app-navbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" role="navigation">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <!-- Hauptinhalt -->
  <div class="content">
    <main>
      <article id="intro">
        <section aria-labelledby="was-ist-wcag">
          <h1 id="was-ist-wcag" tabindex="1">Erklärung wie die Internet seite aufgebaut ist</h1>
          <p>sehesyheht</p>
        </section>

        <section aria-labelledby="wcag-kriterien">
          <h2 id="wcag-kriterien" tabindex="2">Steuerung</h2>
          <p>guhfsdckjyn</p>
        </section>

        <section aria-labelledby="wcag-aaa">
          <h2 id="wcag-aaa" tabindex="3">Keine Ahnung</h2>
          <p>sdvdfbdfbdy:</p>

        </section>

        <section aria-labelledby="barrierefreie-inhalte">
          <h2 id="barrierefreie-inhalte" tabindex="4">Keine Ahnunh</h2>
          <p>vsdvfvbdyb</p>
        </section>
      </article>
    </main>
  </div>
</mat-sidenav-container>
